<html>
	<head>
		<title>Gy sucks</title>
		<link type=”text/css” rel=”stylesheet” href=”css/style.css” />
		<script src=”https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js”></script>
		<script src=”js/maze.js”></script>
	</head>
	
	<body>
		<div id=”content”>
			<canvas id=”c” width="640" height="480"></canvas>
		</div>
	</body>
</html>