<div id="content">
	<canvas id="c" width="800" height="640"></canvas>
	<audio src="http://heryshaf.tyscorp.net/a/hrd.ogg" autoplay loop></audio>
	<span id="fix">.</span> <!-- loads font -->
	<div id="win">
		<a href="#" id="samemaze">play same maze</a><br />
		<a href="/" id="newmaze">play new maze</a>
	</div>
</div>