<!DOCTYPE html>

<html>
	<head>
		<title>maze</title>
		<link type="text/css" rel="stylesheet" href="css/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="js/seedrandom.js"></script>
		<script src="js/maze.js"></script>
		<script src="js/Player.js"></script>
		<script src="js/Darkness.js"></script>
		<script src="js/Walls.js"></script>
		<script src="js/Level.js"></script>
	</head>
	<body>
		<%- body %>
	</body>
</html>